html {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background-color: #121212;
}

form {
  width: 400px;
  height: 500px;
  background-color: #1f1f1f;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 40px;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 170px;
  background-color: rgba(255, 255, 255, 0.9);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 10px;
  margin-top: 5px;
  width: 181px;
}